@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c3dfa4;
  --foreground: #232323;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #c3dfa4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
